.footer {
  background: linear-gradient(to bottom, #5961d0, #e4e6ff);
}

.footer .title {
  color: #fff;
  font-weight: bold;
}

.footer .text-footer {
  color: #5961d0;
  font-weight: 500;
}

.footer .list-group-item {
  font-size: 18px;
}